@import 'src/Common/common';

.main {
    border-radius: resize(2);
    border: 1px solid #FFF;
    background: #000;
    box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.25);
    width: resize(480);
    @media screen and (max-width: 768px) {
        width: 90%;
    };
    position: relative;
}
.space {
    width: 100%;
    padding: resize(24);  
    @media screen and (max-width: 768px) {
        padding: 12px;
    }
}
.close {
    width: resize(24);
    height: resize(24);
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 24px;
        height:  24px;
    }
}
.title {
    font-family: var(--font-Satoshi);
    font-weight: 700;
    color: #fff;
    font-size: resize(18);
    @media screen and (max-width: 768px) {
        font-size: 18px
    }
}
.line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: resize(20);
    @media screen and (max-width: 768px) {
        margin-bottom:20px
    }
}
.con {
    font-family: var(--font-Satoshi);
    font-weight: 500;
    color: #9D9D9D;
    font-size: resize(16);
    @media screen and (max-width: 768px) {
        font-size: 16px
    }
}
.conVlue {
    font-family: var(--font-Satoshi);
    font-weight: 700;
    color: #fff;
    font-size: resize(24);
    margin: 0 resize(10);
    @media screen and (max-width: 768px) {
        font-size: 24px;
        margin: 0 5px
    }
}
.button {
    padding: resize(8) 0;
    border: 1px solid #000;
    background: #DBFF73;
    margin-top: resize(40);
    font-family: var(--font-Satoshi);
    font-weight: 700;
    color: #000;
    font-size: resize(14);
    @media screen and (max-width: 768px) {
        padding: 8px 0;
        margin-top: 30px;
        font-size:14px
    };
    cursor: pointer;

}
.icon {
    width: resize(40);
    height: resize(40);
    position: relative;
    margin: resize(16);
}